/* Ogólne stylizacje */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}

/* Stylizacja sekcji zawartości */
.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    background-color: #fff;
    min-height: 100vh;
}

/* Stylizacja nagłówków */
h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Stylizacja formularza */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #044A0B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #036b0d;
}

/* Stylizacja listy tras */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li div button {
    background-color: #044A0B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

ul li div button:hover {
    background-color: #036b0d;
}

/* Stylizacja ikon */
.icon-orange {
    color: orange;
}

/* Stylizacja mapy */
#map {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Stylizacja przycisku */
.button {
    background-color: #044A0B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.button:hover {
    background-color: #036b0d;
}

/* Centrum przycisk */
.button-container {
    text-align: center;
    padding: 10px;
}

/* Stylizacja formularza wyszukiwania Leaflet */
.leaflet-control-geocoder-form input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: calc(100% - 10px);
    box-sizing: border-box;
}

.leaflet-control-geocoder-form input:focus {
    outline: none;
    border-color: #036b0d;
}



/* Stylizacja inputa */
#route-name {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
}

.button:hover {
    background-color: #036b0d;
}

/* Centrum przycisk */
.button-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Stylizacja wyników wyszukiwania */
#results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.result strong {
    margin-right: 10px;
}

.result button {
    background-color: #044A0B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 5px;
}

.result button:hover {
    background-color: #036b0d;
}




/* Stylizacja sekcji statystyk tras */
#route-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#route-stats div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

#route-stats p {
    margin: 0;
    color: #044A0B;
    font-weight: bold;
}


/* Stylizacja powiadomień */
.notifications > div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications > div span {
    flex: 1;
    color: #333;
}

.notifications > div button, #delete_all {
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.notifications > div button:hover, #delete_all:hover {
    background-color: #c82333;
}
@media screen and (max-width: 500px) {

    .content {
        margin-top: 35px;
        margin-left: 0; /* Adjust content margin to 0 */
        padding: 5px;
    }

    #map {
        margin: 0;
        margin-top:30px;
    }
}