.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#666666;
    width: 100vw;
    height:100vh;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 25px;
    /* width: 55vw;
    height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
    padding: 50px 100px;
}

.button {
    background: #044A0B;
    border-radius: 100px;
    width: 100%;
    height: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
}

input {
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 5px;
    width: 25vw;
    line-height: 2.5em;
    margin: 1em;
}

label {
    align-self: flex-start;
}

p {
    font-size: 2em;
    margin: 1em;
    color: #222222;
}

.white-button {
    background-color: #FFFFFF;
    text-align: center;
    color: black;
    border: 1px solid gray;
    width: 55vw;
}