/* Global styles and resets */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #044A0B;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar nav {
    margin-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar .logo,
.sidebar .account-info {
    padding: 20px;
    text-align: center;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.account-info img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Make it round */
    margin-right: 15px;
}

.sidebar .account-info p {
    margin: 5px 0;
}

.content {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
}

/* Mobile Menu */

.mobile-menu {
    display: none; /* Hide mobile menu by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #044A0B;
    color: #fff;
    z-index: 1;
}

.mobile-menu .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.mobile-menu .logo img {
    height: 30px; /* Adjust height as needed */
}

.mobile-menu .hamburger button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu nav {
    display: none;
    flex-direction: column;
    padding: 20px;
}

.mobile-menu nav a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.mobile-menu nav a:hover {
    background-color: #555;
}

/* Media query for mobile devices */

@media screen and (max-width: 500px) {
    .sidebar {
        display: none; /* Hide sidebar on small screens */
    }

    .mobile-menu {
        display: block; /* Show mobile menu */
    }

    .mobile-menu nav {
        display: none; /* Hide mobile nav by default */
        position: absolute;
        top: 50px; /* Adjust based on topbar height */
        left: 0;
        width: 100%;
        background-color: #044A0B;
    }
}
